<div fxLayout="row">
  <div
    fxFlex
    fxLayout="column"
    fxLayoutGap="10px"
    fxFlex.gt-sm="80"
    fxFlexOffset.gt-sm="10">

    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="todo-list-title">Todos</mat-card-title>
      </mat-card-header>
      <mat-card-content fxLayout="column" >

        <div fxLayout="row wrap" fxLayoutGap="10px">

          <mat-form-field class="input-field">
            <mat-label>Owner</mat-label>
            <input matInput id="todo-owner-input" placeholder="Filter by owner"
            [(ngModel)]="todoOwner" (input)="updateFilter()">
            <mat-hint>Filtered in Angular</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Category</mat-label>
            <input matInput id="todo-category-input" placeholder="Filter by category"
            [(ngModel)]="todoCategory" (input)="updateFilter()">
            <mat-hint>Filtered in Angular</mat-hint>
          </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutGap="10px">

          <mat-form-field class="input-field">
            <mat-label>Body Text</mat-label>
            <input matInput id="todo-body-input" placeholder="Filter by contents"
            min="0" max="200" [(ngModel)]="todoBody" (input)="updateFilter()">
            <mat-hint>Filtered in Angular</mat-hint>
          </mat-form-field>

          <mat-form-field class="input-field">
            <mat-label>Status</mat-label>
            <mat-select (selectionChange)="getTodosFromServer()" [(ngModel)]="todoStatus" id="todo-status-select">
              <mat-option>--</mat-option>
              <mat-option value="complete">Complete</mat-option>
              <mat-option value="incomplete">Incomplete</mat-option>
            </mat-select>
            <mat-hint>Filtered on the server</mat-hint>
          </mat-form-field>
        </div>

      </mat-card-content>
    </mat-card>

    <div fxLayout="row">
      <mat-card [hidden]="!serverFilteredTodos">

        <mat-form-field class="input-field limit-select-form-field">
          <mat-label>Amount Displayed</mat-label>
          <mat-select (selectionChange)="limitTodos()" [(ngModel)]="todoLimit" id="limit-select">
            <mat-option>--</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="20">20</mat-option>
            <mat-option value="100">100</mat-option>
            <mat-option value="500">500</mat-option>
          </mat-select>
          <mat-hint>Filtered on the client</mat-hint>
        </mat-form-field>

        <app-todo-table class="todo-table" [todos]="limitedTodos"></app-todo-table>

      </mat-card>

      <mat-card [hidden]="serverFilteredTodos">
        <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="todos-error">
          <mat-error>
            There was a problem loading the todos. Possibly the server is down or perhaps there are network
            issues.
          </mat-error>
          <mat-error>
            Please wait a bit and try again or start the server.
          </mat-error>
        </div>
      </mat-card>

    </div>

  </div>
</div>

<button mat-fab class="add-todo-fab" matTooltip="Add Todo" matTooltipPosition="left" routerLink="/todos/new">
  <mat-icon class="md-24" aria-label="Add Todo">add</mat-icon>
</button>
